# Import Libraries

In [1]:
library(dplyr)   # For data manipulation
library(tidyr)   # For data tidying
library(stringr) # For string manipulation

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

# Personal Income

In [63]:
pi <- read.csv("data_raw/personal_income.csv", fileEncoding = "latin1")

head(pi)

  Table.2..Per.Capita.Personal.Income..by.Metropolitan.Area..2020.2022
1
2
3
4 United States
5 Metropolitan portion
6 Nonmetropolitan portion
  X                           X.1    X.2    X.3
1 Per capita personal income1
2 Dollars                                   Rank in United States
3 2020                        2021   2022   2022
4 59,153                      64,430 65,470 --
5 61,202                      66,666 67,767 --
6 46,220                      50,312 50,917 --
  X.4                                  X.5    X.6
1 Percent change from preceding period     NA
2 Percent change                           NA Rank in United States
3 2021                                 2022.0 2022
4 8.9                                     1.6 --
5 8.9                                     1.7 --
6 8.9                                     1.2 --

In [64]:
pi <- read.csv("data_raw/personal_income.csv", fileEncoding = "latin1", skip = 2)

colnames(pi) <- c("Area", "2020", "2021", "2022", "Rank in 2022", "Percent Change 2021", "Percent Change 2022", "Rank in Percent Change 2022")

head(pi)

  Area                           2020   2021   2022   Rank in 2022
1                                2020   2021   2022   2022
2 United States                  59,153 64,430 65,470 --
3 Metropolitan portion           61,202 66,666 67,767 --
4 Nonmetropolitan portion        46,220 50,312 50,917 --
5 Metropolitan Statistical Areas
6 Abilene, TX                    48,195 52,537 53,457 227
  Percent Change 2021 Percent Change 2022 Rank in Percent Change 2022
1 2021.0              2022.0              2022
2    8.9                 1.6              --
3    8.9                 1.7              --
4    8.9                 1.2              --
5     NA                  NA
6    9.0                 1.8              149

In [65]:
pi <- pi %>% select(1:4)

head(pi)

  Area                           2020   2021   2022
1                                2020   2021   2022
2 United States                  59,153 64,430 65,470
3 Metropolitan portion           61,202 66,666 67,767
4 Nonmetropolitan portion        46,220 50,312 50,917
5 Metropolitan Statistical Areas
6 Abilene, TX                    48,195 52,537 53,457

In [66]:
pi <- pi %>%
  slice(6:n())

head(pi)

  Area                        2020   2021   2022
1 Abilene, TX                 48,195 52,537 53,457
2 Akron, OH                   54,631 59,333 60,170
3 Albany, GA                  42,025 46,851 45,893
4 Albany-Lebanon, OR          47,621 51,999 52,469
5 Albany-Schenectady-Troy, NY 62,798 66,966 66,984
6 Albuquerque, NM             48,654 52,972 53,954

In [68]:
tail(pi)

    Area
382 Youngstown-Warren-Boardman, OH-PA
383 Yuba City, CA
384 Yuma, AZ
385 1. Per capita personal income was computed using U.S. Census Bureau midyear population estimates for 2020 through 2022, released in March 2023.
386 Note. Metropolitan areas are defined (geographically delineated) by the Office of Management and Budget (OMB) Bulletin No. 20-01, issued March 6, 2020.
387 U.S. Bureau of Economic Analysis
    2020   2021   2022
382 45,478 48,647 48,645
383 47,794 51,401 50,252
384 42,177 44,285 44,811
385
386
387

In [69]:
pi <- head(pi, -3)

head(pi)

tail(pi)

  Area                        2020   2021   2022
1 Abilene, TX                 48,195 52,537 53,457
2 Akron, OH                   54,631 59,333 60,170
3 Albany, GA                  42,025 46,851 45,893
4 Albany-Lebanon, OR          47,621 51,999 52,469
5 Albany-Schenectady-Troy, NY 62,798 66,966 66,984
6 Albuquerque, NM             48,654 52,972 53,954

    Area                              2020   2021   2022
379 Worcester, MA-CT                  59,994 63,142 63,475
380 Yakima, WA                        45,996 49,637 49,266
381 York-Hanover, PA                  54,395 57,656 57,321
382 Youngstown-Warren-Boardman, OH-PA 45,478 48,647 48,645
383 Yuba City, CA                     47,794 51,401 50,252
384 Yuma, AZ                          42,177 44,285 44,811

In [70]:
pi <- pi %>%
  select(-c(2, 3))

head(pi)

  Area                        2022
1 Abilene, TX                 53,457
2 Akron, OH                   60,170
3 Albany, GA                  45,893
4 Albany-Lebanon, OR          52,469
5 Albany-Schenectady-Troy, NY 66,984
6 Albuquerque, NM             53,954

In [71]:
pi$`2022` <- as.numeric(gsub(",", "", pi$`2022`))

head(pi)

  Area                        2022
1 Abilene, TX                 53457
2 Akron, OH                   60170
3 Albany, GA                  45893
4 Albany-Lebanon, OR          52469
5 Albany-Schenectady-Troy, NY 66984
6 Albuquerque, NM             53954

In [72]:
pi <- pi %>%
    rename(`personal income` = `2022`)

head(pi)

  Area                        personal income
1 Abilene, TX                 53457
2 Akron, OH                   60170
3 Albany, GA                  45893
4 Albany-Lebanon, OR          52469
5 Albany-Schenectady-Troy, NY 66984
6 Albuquerque, NM             53954

In [110]:
areas_to_keep <- c("Cleveland", "New York", "Kansas City", "Detroit", "Philadelphia", "Pittsburgh", 
                   "Baltimore", "Washington", "Cincinnati", "Minneapolis-St. Paul", "St. Louis", 
                   "Boston", "Indianapolis", "Chicago", "San Antonio", "Las Vegas", "Seattle", "Denver", 
                   "Phoenix", "Sacramento", "Houston", "San Francisco", "Charlotte", "Virginia Beach", 
                   "Columbus", "Portland", "Atlanta", "Austin", "Dallas-Fort Worth", "Orlando", 
                   "Nashville", "San Diego", "Miami", "Tampa", "Los Angeles")

In [111]:
areas_to_keep

 [1] "Cleveland"            "New York"             "Kansas City"
 [4] "Detroit"              "Philadelphia"         "Pittsburgh"
 [7] "Baltimore"            "Washington"           "Cincinnati"
[10] "Minneapolis-St. Paul" "St. Louis"            "Boston"
[13] "Indianapolis"         "Chicago"              "San Antonio"
[16] "Las Vegas"            "Seattle"              "Denver"
[19] "Phoenix"              "Sacramento"           "Houston"
[22] "San Francisco"        "Charlotte"            "Virginia Beach"
[25] "Columbus"             "Portland"             "Atlanta"
[28] "Austin"               "Dallas-Fort Worth"    "Orlando"
[31] "Nashville"            "San Diego"            "Miami"
[34] "Tampa"                "Los Angeles"

In [112]:
pi2 <- pi[str_detect(pi$Area, paste(areas_to_keep, collapse = "|")), ]

head(pi2)

dim(pi2)

   Area                                 personal income
18 Atlanta-Sandy Springs-Alpharetta, GA 64107
22 Austin-Round Rock-Georgetown, TX     75119
24 Baltimore-Columbia-Towson, MD        71420
43 Boston-Cambridge-Newton, MA-NH       94082
65 Charlotte-Concord-Gastonia, NC-SC    65156
66 Charlottesville, VA                  80969

[1] 40  2

In [87]:
print(pi2)

                                              Area personal income
18            Atlanta-Sandy Springs-Alpharetta, GA           64107
22                Austin-Round Rock-Georgetown, TX           75119
24                   Baltimore-Columbia-Towson, MD           71420
43                  Boston-Cambridge-Newton, MA-NH           94082
65               Charlotte-Concord-Gastonia, NC-SC           65156
66                             Charlottesville, VA           80969
69              Chicago-Naperville-Elgin, IL-IN-WI           72512
71                            Cincinnati, OH-KY-IN           65253
73                                   Cleveland, TN           46240
74                            Cleveland-Elyria, OH           62921
80                                 Columbus, GA-AL           46748
81                                    Columbus, IN           61920
82                                    Columbus, OH           61228
87                 Dallas-Fort Worth-Arlington, TX           70493
96                      Denver-Aurora-Lakewood, CO           84788
98                     Detroit-Warren-Dearborn, MI           61322
160           Houston-The Woodlands-Sugar Land, TX           68344
164               Indianapolis-Carmel-Anderson, IN           68719
181                             Kansas City, MO-KS           63417
198               Las Vegas-Henderson-Paradise, NV           59150
211             Los Angeles-Long Beach-Anaheim, CA           76445
226        Miami-Fort Lauderdale-Pompano Beach, FL           77732
231        Minneapolis-St. Paul-Bloomington, MN-WI           75164
246 Nashville-Davidson--Murfreesboro--Franklin, TN           74035
250          New York-Newark-Jersey City, NY-NJ-PA           84084
261                  Orlando-Kissimmee-Sanford, FL           53959
270    Philadelphia-Camden-Wilmington, PA-NJ-DE-MD           73291
271                      Phoenix-Mesa-Chandler, AZ           61840
273                                 Pittsburgh, PA           65792
276                    Portland-South Portland, ME           71990
277            Portland-Vancouver-Hillsboro, OR-WA           69435
299                Sacramento-Roseville-Folsom, CA           66940
304                               St. Louis, MO-IL           69698
310                  San Antonio-New Braunfels, TX           55180
311             San Diego-Chula Vista-Carlsbad, CA           74326
312             San Francisco-Oakland-Berkeley, CA          123736
321                    Seattle-Tacoma-Bellevue, WA           92113
343            Tampa-St. Petersburg-Clearwater, FL           60091
361     Virginia Beach-Norfolk-Newport News, VA-NC           57873
366   Washington-Arlington-Alexandria, DC-VA-MD-WV           83010

In [113]:
pi2 <- pi2 %>%
  mutate(Area = case_when(
    Area == "Atlanta-Sandy Springs-Alpharetta, GA" ~ "Atlanta",
    Area == "Austin-Round Rock-Georgetown, TX" ~ "Austin",
    Area == "Baltimore-Columbia-Towson, MD" ~ "Baltimore",
    Area == "Boston-Cambridge-Newton, MA-NH" ~ "Boston",
    Area == "Charlotte-Concord-Gastonia, NC-SC" ~ "Charlotte",
    Area == "Chicago-Naperville-Elgin, IL-IN-WI" ~ "Chicago",
    Area == "Cincinnati, OH-KY-IN" ~ "Cincinnati",
    Area == "Cleveland-Elyria, OH" ~ "Cleveland",
    Area == "Columbus, OH" ~ "Columbus",
    Area == "Dallas-Fort Worth-Arlington, TX" ~ "Dallas-Fort Worth",
    Area == "Denver-Aurora-Lakewood, CO" ~ "Denver",
    Area == "Detroit-Warren-Dearborn, MI" ~ "Detroit",
    Area == "Houston-The Woodlands-Sugar Land, TX" ~ "Houston",
    Area == "Indianapolis-Carmel-Anderson, IN" ~ "Indianapolis",
    Area == "Kansas City, MO-KS" ~ "Kansas City",
    Area == "Las Vegas-Henderson-Paradise, NV" ~ "Las Vegas",
    Area == "Los Angeles-Long Beach-Anaheim, CA" ~ "Los Angeles",
    Area == "Miami-Fort Lauderdale-Pompano Beach, FL" ~ "Miami",
    Area == "Minneapolis-St. Paul-Bloomington, MN-WI" ~ "Minneapolis-St. Paul",
    Area == "Nashville-Davidson--Murfreesboro--Franklin, TN" ~ "Nashville",
    Area == "New York-Newark-Jersey City, NY-NJ-PA" ~ "New York",
    Area == "Orlando-Kissimmee-Sanford, FL" ~ "Orlando",
    Area == "Philadelphia-Camden-Wilmington, PA-NJ-DE-MD" ~ "Philadelphia",
    Area == "Phoenix-Mesa-Chandler, AZ" ~ "Phoenix",
    Area == "Pittsburgh, PA" ~ "Pittsburgh",
    Area == "Portland-Vancouver-Hillsboro, OR-WA" ~ "Portland",
    Area == "Sacramento-Roseville-Folsom, CA" ~ "Sacramento",
    Area == "St. Louis, MO-IL" ~ "St. Louis",
    Area == "San Antonio-New Braunfels, TX" ~ "San Antonio",
    Area == "San Diego-Chula Vista-Carlsbad, CA" ~ "San Diego",
    Area == "San Francisco-Oakland-Berkeley, CA" ~ "San Francisco",
    Area == "Seattle-Tacoma-Bellevue, WA" ~ "Seattle",
    Area == "Tampa-St. Petersburg-Clearwater, FL" ~ "Tampa",
    Area == "Virginia Beach-Norfolk-Newport News, VA-NC" ~ "Virginia Beach",
    Area == "Washington-Arlington-Alexandria, DC-VA-MD-WV" ~ "Washington, DC",
    TRUE ~ Area
  ))

print(pi2)

                           Area personal income
18                      Atlanta           64107
22                       Austin           75119
24                    Baltimore           71420
43                       Boston           94082
65                    Charlotte           65156
66          Charlottesville, VA           80969
69                      Chicago           72512
71                   Cincinnati           65253
73                Cleveland, TN           46240
74                    Cleveland           62921
80              Columbus, GA-AL           46748
81                 Columbus, IN           61920
82                     Columbus           61228
87            Dallas-Fort Worth           70493
96                       Denver           84788
98                      Detroit           61322
160                     Houston           68344
164                Indianapolis           68719
181                 Kansas City           63417
198                   Las Vegas           59150
211                 Los Angeles           76445
226                       Miami           77732
231        Minneapolis-St. Paul           75164
246                   Nashville           74035
250                    New York           84084
261                     Orlando           53959
270                Philadelphia           73291
271                     Phoenix           61840
273                  Pittsburgh           65792
276 Portland-South Portland, ME           71990
277                    Portland           69435
299                  Sacramento           66940
304                   St. Louis           69698
310                 San Antonio           55180
311                   San Diego           74326
312               San Francisco          123736
321                     Seattle           92113
343                       Tampa           60091
361              Virginia Beach           57873
366              Washington, DC           83010

In [114]:
pi2 <- pi2 %>%
  filter(!Area %in% c("Charlottesville, VA", "Cleveland, TN", "Columbus, GA-AL", "Columbus, IN", "Portland-South Portland, ME"))

print(pi2)

                   Area personal income
1               Atlanta           64107
2                Austin           75119
3             Baltimore           71420
4                Boston           94082
5             Charlotte           65156
6               Chicago           72512
7            Cincinnati           65253
8             Cleveland           62921
9              Columbus           61228
10    Dallas-Fort Worth           70493
11               Denver           84788
12              Detroit           61322
13              Houston           68344
14         Indianapolis           68719
15          Kansas City           63417
16            Las Vegas           59150
17          Los Angeles           76445
18                Miami           77732
19 Minneapolis-St. Paul           75164
20            Nashville           74035
21             New York           84084
22              Orlando           53959
23         Philadelphia           73291
24              Phoenix           61840
25           Pittsburgh           65792
26             Portland           69435
27           Sacramento           66940
28            St. Louis           69698
29          San Antonio           55180
30            San Diego           74326
31        San Francisco          123736
32              Seattle           92113
33                Tampa           60091
34       Virginia Beach           57873
35       Washington, DC           83010

In [115]:
pi2 <- pi2 %>%
  rename(REGION = Area)

head(pi2)

  REGION    personal income
1 Atlanta   64107
2 Austin    75119
3 Baltimore 71420
4 Boston    94082
5 Charlotte 65156
6 Chicago   72512

In [116]:
write.csv(pi2, file = "data_partial/personal_income.csv", row.names = FALSE)

---------------

# Median Rent

In [117]:
rent <- read.csv("data_raw/median_rent.csv")

head(rent)

  CBSA
1 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/rhode island/providence-apartments/">Providence, RI</a>
2 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/florida/jacksonville-apartments/">Jacksonville, FL</a>
3 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/california/san-jose-apartments/">San Jose, CA</a>
4 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/missouri/st.-louis-apartments/">St. Louis, MO</a>
5 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/missouri/kansas-city-apartments/">Kansas City, MO</a>
6 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/minnesota/minneapolis-apartments/">Minneapolis, MN</a>
  Population Median.Rent YoY...Change MoM...Change
1 1675774    2742.75     16.181298     4.7650879
2 1637666    1804.25     10.503751     1.3196687
3 1952185    3932.00      8.942301     0.7688365
4 2809299    1680.50      8.279639    -3.4611518
5 2199490    1686.25      8.266453    -0.5162242
6 3690512    1896.50      7.893614     0.3439153

In [118]:
rent <- rent %>% select(CBSA, Median.Rent)

head(rent)

  CBSA
1 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/rhode island/providence-apartments/">Providence, RI</a>
2 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/florida/jacksonville-apartments/">Jacksonville, FL</a>
3 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/california/san-jose-apartments/">San Jose, CA</a>
4 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/missouri/st.-louis-apartments/">St. Louis, MO</a>
5 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/missouri/kansas-city-apartments/">Kansas City, MO</a>
6 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/minnesota/minneapolis-apartments/">Minneapolis, MN</a>
  Median.Rent
1 2742.75
2 1804.25
3 3932.00
4 1680.50
5 1686.25
6 1896.50

In [119]:
rent <- rent %>%
  rename(REGION = CBSA)

head(rent)

  REGION
1 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/rhode island/providence-apartments/">Providence, RI</a>
2 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/florida/jacksonville-apartments/">Jacksonville, FL</a>
3 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/california/san-jose-apartments/">San Jose, CA</a>
4 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/missouri/st.-louis-apartments/">St. Louis, MO</a>
5 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/missouri/kansas-city-apartments/">Kansas City, MO</a>
6 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/minnesota/minneapolis-apartments/">Minneapolis, MN</a>
  Median.Rent
1 2742.75
2 1804.25
3 3932.00
4 1680.50
5 1686.25
6 1896.50

In [120]:
rent$REGION <- str_extract(rent$REGION, "(?<=\">)[^<]+")

print(rent)

                            REGION Median.Rent
1                   Providence, RI     2742.75
2                 Jacksonville, FL     1804.25
3                     San Jose, CA     3932.00
4                    St. Louis, MO     1680.50
5                  Kansas City, MO     1686.25
6                  Minneapolis, MN     1896.50
7                Oklahoma City, OK     1267.75
8               Virginia Beach, VA     1826.00
9                      Chicago, IL     2357.50
10                   Milwaukee, WI     1834.50
11                    Hartford, CT     2160.00
12                     Buffalo, NY     1736.75
13                     Orlando, FL     2246.50
14                    Columbus, OH     1704.50
15                  Cincinnati, OH     1646.00
16                 Los Angeles, CA     3587.25
17                     Phoenix, AZ     2182.25
18              Salt Lake City, UT     1974.75
19                    Richmond, VA     1806.25
20                     Seattle, WA     2946.00
21                     Atlanta, GA     2113.00
22                      Boston, MA     3939.50
23                    New York, NY     4120.75
24                  Birmingham, AL     1625.25
25                      Dallas, TX     2180.00
26                 San Antonio, TX     1463.00
27               San Francisco, CA     3788.75
28                Indianapolis, IN     1563.50
29                  Washington, DC     2657.25
30                Philadelphia, PA     2340.25
31                   Baltimore, MD     1981.50
32                   San Diego, CA     3400.25
33                  Sacramento, CA     2614.25
34                       Miami, FL     3056.50
35                       Tampa, FL     2207.50
36                     Detroit, MI     1619.75
37                   Charlotte, NC     1923.50
38                   Cleveland, OH     1471.25
39                  Pittsburgh, PA     1800.75
40 Louisville/Jefferson County, KY     1323.50
41                      Denver, CO     2677.00
42                   Las Vegas, NV     1666.00
43                   Riverside, CA     2639.50
44                    Portland, OR     2333.00
45                     Memphis, TN     1519.50
46                      Austin, TX     1937.50
47                     Raleigh, NC     1906.75
48                     Houston, TX     1578.00
49                 New Orleans, LA     1594.50
50                   Nashville, TN     1903.50

no baltimore, phoenix, orlando

In [121]:
dim(rent)

[1] 50  2

In [127]:
areas_to_keep <- c("Cleveland", "New York", "Kansas City", "Detroit", "Philadelphia", "Pittsburgh", 
                   "Baltimore", "Washington", "Cincinnati", "Minneapolis", "St. Louis", 
                   "Boston", "Indianapolis", "Chicago", "San Antonio", "Las Vegas", "Seattle", "Denver", 
                   "Phoenix", "Sacramento", "Houston", "San Francisco", "Charlotte", "Virginia Beach", 
                   "Columbus", "Portland", "Atlanta", "Austin", "Dallas", "Orlando", 
                   "Nashville", "San Diego", "Miami", "Tampa", "Los Angeles")

In [106]:
areas_to_keep

 [1] "Cleveland"            "New York"             "Kansas City"
 [4] "Detroit"              "Philadelphia"         "Pittsburgh"
 [7] "Baltimore"            "Washington"           "Cincinnati"
[10] "Minneapolis-St. Paul" "St. Louis"            "Boston"
[13] "Indianapolis"         "Chicago"              "San Antonio"
[16] "Las Vegas"            "Seattle"              "Denver"
[19] "Phoenix"              "Sacramento"           "Houston"
[22] "San Francisco"        "Charlotte"            "Virginia Beach"
[25] "Columbus"             "Portland"             "Atlanta"
[28] "Austin"               "Dallas"               "Orlando"
[31] "Nashville"            "San Diego"            "Miami"
[34] "Tampa"                "Los Angeles"

In [132]:
rent2 <- rent[str_detect(rent$REGION, paste(areas_to_keep, collapse = "|")), ]

print(rent2)

               REGION Median.Rent
4       St. Louis, MO     1680.50
5     Kansas City, MO     1686.25
6     Minneapolis, MN     1896.50
8  Virginia Beach, VA     1826.00
9         Chicago, IL     2357.50
13        Orlando, FL     2246.50
14       Columbus, OH     1704.50
15     Cincinnati, OH     1646.00
16    Los Angeles, CA     3587.25
17        Phoenix, AZ     2182.25
20        Seattle, WA     2946.00
21        Atlanta, GA     2113.00
22         Boston, MA     3939.50
23       New York, NY     4120.75
25         Dallas, TX     2180.00
26    San Antonio, TX     1463.00
27  San Francisco, CA     3788.75
28   Indianapolis, IN     1563.50
29     Washington, DC     2657.25
30   Philadelphia, PA     2340.25
31      Baltimore, MD     1981.50
32      San Diego, CA     3400.25
33     Sacramento, CA     2614.25
34          Miami, FL     3056.50
35          Tampa, FL     2207.50
36        Detroit, MI     1619.75
37      Charlotte, NC     1923.50
38      Cleveland, OH     1471.25
39     Pittsburgh, PA     1800.75
41         Denver, CO     2677.00
42      Las Vegas, NV     1666.00
44       Portland, OR     2333.00
46         Austin, TX     1937.50
48        Houston, TX     1578.00
50      Nashville, TN     1903.50

In [133]:
rent2 <- rent2 %>%
  mutate(REGION = case_when(
    REGION == "St. Louis, MO" ~ "St. Louis",
    REGION == "Kansas City, MO" ~ "Kansas City",
    REGION == "Virginia Beach, VA" ~ "Virginia Beach",
    REGION == "Chicago, IL" ~ "Chicago",
    REGION == "Columbus, OH" ~ "Columbus",
    REGION == "Orlando, FL" ~ "Orlando",
    REGION == "Cincinnati, OH" ~ "Cincinnati",
    REGION == "Los Angeles, CA" ~ "Los Angeles",
    REGION == "Phoenix, AZ" ~ "Phoenix",
    REGION == "Seattle, WA" ~ "Seattle",
    REGION == "Atlanta, GA" ~ "Atlanta",
    REGION == "Boston, MA" ~ "Boston",
    REGION == "New York, NY" ~ "New York",
    REGION == "San Antonio, TX" ~ "San Antonio",
    REGION == "San Francisco, CA" ~ "San Francisco",
    REGION == "Indianapolis, IN" ~ "Indianapolis",
    REGION == "Philadelphia, PA" ~ "Philadelphia",
    REGION == "Baltimore, MD" ~ "Baltimore",
    REGION == "San Diego, CA" ~ "San Diego",
    REGION == "Sacramento, CA" ~ "Sacramento",
    REGION == "Miami, FL" ~ "Miami",
    REGION == "Tampa, FL" ~ "Tampa",
    REGION == "Detroit, MI" ~ "Detroit",
    REGION == "Charlotte, NC" ~ "Charlotte",
    REGION == "Cleveland, OH" ~ "Cleveland",
    REGION == "Pittsburgh, PA" ~ "Pittsburgh",
    REGION == "Denver, CO" ~ "Denver",
    REGION == "Las Vegas, NV" ~ "Las Vegas",
    REGION == "Houston, TX" ~ "Houston",
    REGION == "Portland, OR" ~ "Portland",
    REGION == "Austin, TX" ~ "Austin",
    REGION == "Nashville, TN" ~ "Nashville",
    REGION == "Minneapolis, MN" ~ "Minneapolis-St. Paul",
    REGION == "Dallas, TX" ~ "Dallas-Fort Worth",

    TRUE ~ REGION
  ))

print(rent2)

                 REGION Median.Rent
4             St. Louis     1680.50
5           Kansas City     1686.25
6  Minneapolis-St. Paul     1896.50
8        Virginia Beach     1826.00
9               Chicago     2357.50
13              Orlando     2246.50
14             Columbus     1704.50
15           Cincinnati     1646.00
16          Los Angeles     3587.25
17              Phoenix     2182.25
20              Seattle     2946.00
21              Atlanta     2113.00
22               Boston     3939.50
23             New York     4120.75
25    Dallas-Fort Worth     2180.00
26          San Antonio     1463.00
27        San Francisco     3788.75
28         Indianapolis     1563.50
29       Washington, DC     2657.25
30         Philadelphia     2340.25
31            Baltimore     1981.50
32            San Diego     3400.25
33           Sacramento     2614.25
34                Miami     3056.50
35                Tampa     2207.50
36              Detroit     1619.75
37            Charlotte     1923.50
38            Cleveland     1471.25
39           Pittsburgh     1800.75
41               Denver     2677.00
42            Las Vegas     1666.00
44             Portland     2333.00
46               Austin     1937.50
48              Houston     1578.00
50            Nashville     1903.50

In [134]:
dim(rent2)

[1] 35  2

In [136]:
dim(pi2)

[1] 35  2

In [135]:
write.csv(rent2, file = "data_partial/median_rent.csv", row.names = FALSE)