# Import Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st

# Load in dataset

In [5]:
df = pd.read_csv('../final_data/metro_data.csv')

df.head()

,REGION,personal.income,Median.Rent,median.sale.price,Walkable,Unemployment,Purchase_power_100_dollars
0,Atlanta,64107,2113.0,357000.0,49.4,3.0,100.89
1,Austin,75119,1937.5,451250.0,50.0,3.7,99.96
2,Baltimore,71420,1981.5,325500.0,44.7,2.8,95.23
3,Boston,94082,3939.5,600000.0,74.3,3.3,91.17
4,Charlotte,65156,1923.5,365000.0,51.7,3.6,103.52