# Import Libraries

In [1]:
library(dplyr)   # For data manipulation
library(tidyr)   # For data tidying
library(stringr) # For string manipulation
library(ggplot2)
library(ggmap)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Warning message:
"package 'ggmap' was built under R version 4.3.3"
ℹ Google's Terms of Service: <https://mapsplatform.google.com>
  Stadia Maps' Terms of Service: <https://stadiamaps.com/terms-of-service/>
  OpenStreetMap's Tile Usage Policy: <https://operations.osmfoundation.org/policies/tiles/>
ℹ Please cite ggmap if you use it! Use `citation("ggmap")` for details.

# Personal Income

In [63]:
pi <- read.csv("data_raw/personal_income.csv", fileEncoding = "latin1")

head(pi)

  Table.2..Per.Capita.Personal.Income..by.Metropolitan.Area..2020.2022
1
2
3
4 United States
5 Metropolitan portion
6 Nonmetropolitan portion
  X                           X.1    X.2    X.3
1 Per capita personal income1
2 Dollars                                   Rank in United States
3 2020                        2021   2022   2022
4 59,153                      64,430 65,470 --
5 61,202                      66,666 67,767 --
6 46,220                      50,312 50,917 --
  X.4                                  X.5    X.6
1 Percent change from preceding period     NA
2 Percent change                           NA Rank in United States
3 2021                                 2022.0 2022
4 8.9                                     1.6 --
5 8.9                                     1.7 --
6 8.9                                     1.2 --

In [64]:
pi <- read.csv("data_raw/personal_income.csv", fileEncoding = "latin1", skip = 2)

colnames(pi) <- c("Area", "2020", "2021", "2022", "Rank in 2022", "Percent Change 2021", "Percent Change 2022", "Rank in Percent Change 2022")

head(pi)

  Area                           2020   2021   2022   Rank in 2022
1                                2020   2021   2022   2022
2 United States                  59,153 64,430 65,470 --
3 Metropolitan portion           61,202 66,666 67,767 --
4 Nonmetropolitan portion        46,220 50,312 50,917 --
5 Metropolitan Statistical Areas
6 Abilene, TX                    48,195 52,537 53,457 227
  Percent Change 2021 Percent Change 2022 Rank in Percent Change 2022
1 2021.0              2022.0              2022
2    8.9                 1.6              --
3    8.9                 1.7              --
4    8.9                 1.2              --
5     NA                  NA
6    9.0                 1.8              149

In [65]:
pi <- pi %>% select(1:4)

head(pi)

  Area                           2020   2021   2022
1                                2020   2021   2022
2 United States                  59,153 64,430 65,470
3 Metropolitan portion           61,202 66,666 67,767
4 Nonmetropolitan portion        46,220 50,312 50,917
5 Metropolitan Statistical Areas
6 Abilene, TX                    48,195 52,537 53,457

In [66]:
pi <- pi %>%
  slice(6:n())

head(pi)

  Area                        2020   2021   2022
1 Abilene, TX                 48,195 52,537 53,457
2 Akron, OH                   54,631 59,333 60,170
3 Albany, GA                  42,025 46,851 45,893
4 Albany-Lebanon, OR          47,621 51,999 52,469
5 Albany-Schenectady-Troy, NY 62,798 66,966 66,984
6 Albuquerque, NM             48,654 52,972 53,954

In [68]:
tail(pi)

    Area
382 Youngstown-Warren-Boardman, OH-PA
383 Yuba City, CA
384 Yuma, AZ
385 1. Per capita personal income was computed using U.S. Census Bureau midyear population estimates for 2020 through 2022, released in March 2023.
386 Note. Metropolitan areas are defined (geographically delineated) by the Office of Management and Budget (OMB) Bulletin No. 20-01, issued March 6, 2020.
387 U.S. Bureau of Economic Analysis
    2020   2021   2022
382 45,478 48,647 48,645
383 47,794 51,401 50,252
384 42,177 44,285 44,811
385
386
387

In [69]:
pi <- head(pi, -3)

head(pi)

tail(pi)

  Area                        2020   2021   2022
1 Abilene, TX                 48,195 52,537 53,457
2 Akron, OH                   54,631 59,333 60,170
3 Albany, GA                  42,025 46,851 45,893
4 Albany-Lebanon, OR          47,621 51,999 52,469
5 Albany-Schenectady-Troy, NY 62,798 66,966 66,984
6 Albuquerque, NM             48,654 52,972 53,954

    Area                              2020   2021   2022
379 Worcester, MA-CT                  59,994 63,142 63,475
380 Yakima, WA                        45,996 49,637 49,266
381 York-Hanover, PA                  54,395 57,656 57,321
382 Youngstown-Warren-Boardman, OH-PA 45,478 48,647 48,645
383 Yuba City, CA                     47,794 51,401 50,252
384 Yuma, AZ                          42,177 44,285 44,811

In [70]:
pi <- pi %>%
  select(-c(2, 3))

head(pi)

  Area                        2022
1 Abilene, TX                 53,457
2 Akron, OH                   60,170
3 Albany, GA                  45,893
4 Albany-Lebanon, OR          52,469
5 Albany-Schenectady-Troy, NY 66,984
6 Albuquerque, NM             53,954

In [71]:
pi$`2022` <- as.numeric(gsub(",", "", pi$`2022`))

head(pi)

  Area                        2022
1 Abilene, TX                 53457
2 Akron, OH                   60170
3 Albany, GA                  45893
4 Albany-Lebanon, OR          52469
5 Albany-Schenectady-Troy, NY 66984
6 Albuquerque, NM             53954

In [72]:
pi <- pi %>%
    rename(`personal income` = `2022`)

head(pi)

  Area                        personal income
1 Abilene, TX                 53457
2 Akron, OH                   60170
3 Albany, GA                  45893
4 Albany-Lebanon, OR          52469
5 Albany-Schenectady-Troy, NY 66984
6 Albuquerque, NM             53954

In [110]:
areas_to_keep <- c("Cleveland", "New York", "Kansas City", "Detroit", "Philadelphia", "Pittsburgh", 
                   "Baltimore", "Washington", "Cincinnati", "Minneapolis-St. Paul", "St. Louis", 
                   "Boston", "Indianapolis", "Chicago", "San Antonio", "Las Vegas", "Seattle", "Denver", 
                   "Phoenix", "Sacramento", "Houston", "San Francisco", "Charlotte", "Virginia Beach", 
                   "Columbus", "Portland", "Atlanta", "Austin", "Dallas-Fort Worth", "Orlando", 
                   "Nashville", "San Diego", "Miami", "Tampa", "Los Angeles")

In [111]:
areas_to_keep

 [1] "Cleveland"            "New York"             "Kansas City"
 [4] "Detroit"              "Philadelphia"         "Pittsburgh"
 [7] "Baltimore"            "Washington"           "Cincinnati"
[10] "Minneapolis-St. Paul" "St. Louis"            "Boston"
[13] "Indianapolis"         "Chicago"              "San Antonio"
[16] "Las Vegas"            "Seattle"              "Denver"
[19] "Phoenix"              "Sacramento"           "Houston"
[22] "San Francisco"        "Charlotte"            "Virginia Beach"
[25] "Columbus"             "Portland"             "Atlanta"
[28] "Austin"               "Dallas-Fort Worth"    "Orlando"
[31] "Nashville"            "San Diego"            "Miami"
[34] "Tampa"                "Los Angeles"

In [112]:
pi2 <- pi[str_detect(pi$Area, paste(areas_to_keep, collapse = "|")), ]

head(pi2)

dim(pi2)

   Area                                 personal income
18 Atlanta-Sandy Springs-Alpharetta, GA 64107
22 Austin-Round Rock-Georgetown, TX     75119
24 Baltimore-Columbia-Towson, MD        71420
43 Boston-Cambridge-Newton, MA-NH       94082
65 Charlotte-Concord-Gastonia, NC-SC    65156
66 Charlottesville, VA                  80969

[1] 40  2

In [87]:
print(pi2)

                                              Area personal income
18            Atlanta-Sandy Springs-Alpharetta, GA           64107
22                Austin-Round Rock-Georgetown, TX           75119
24                   Baltimore-Columbia-Towson, MD           71420
43                  Boston-Cambridge-Newton, MA-NH           94082
65               Charlotte-Concord-Gastonia, NC-SC           65156
66                             Charlottesville, VA           80969
69              Chicago-Naperville-Elgin, IL-IN-WI           72512
71                            Cincinnati, OH-KY-IN           65253
73                                   Cleveland, TN           46240
74                            Cleveland-Elyria, OH           62921
80                                 Columbus, GA-AL           46748
81                                    Columbus, IN           61920
82                                    Columbus, OH           61228
87                 Dallas-Fort Worth-Arlington, TX           70493
96                      Denver-Aurora-Lakewood, CO           84788
98                     Detroit-Warren-Dearborn, MI           61322
160           Houston-The Woodlands-Sugar Land, TX           68344
164               Indianapolis-Carmel-Anderson, IN           68719
181                             Kansas City, MO-KS           63417
198               Las Vegas-Henderson-Paradise, NV           59150
211             Los Angeles-Long Beach-Anaheim, CA           76445
226        Miami-Fort Lauderdale-Pompano Beach, FL           77732
231        Minneapolis-St. Paul-Bloomington, MN-WI           75164
246 Nashville-Davidson--Murfreesboro--Franklin, TN           74035
250          New York-Newark-Jersey City, NY-NJ-PA           84084
261                  Orlando-Kissimmee-Sanford, FL           53959
270    Philadelphia-Camden-Wilmington, PA-NJ-DE-MD           73291
271                      Phoenix-Mesa-Chandler, AZ           61840
273                                 Pittsburgh, PA           65792
276                    Portland-South Portland, ME           71990
277            Portland-Vancouver-Hillsboro, OR-WA           69435
299                Sacramento-Roseville-Folsom, CA           66940
304                               St. Louis, MO-IL           69698
310                  San Antonio-New Braunfels, TX           55180
311             San Diego-Chula Vista-Carlsbad, CA           74326
312             San Francisco-Oakland-Berkeley, CA          123736
321                    Seattle-Tacoma-Bellevue, WA           92113
343            Tampa-St. Petersburg-Clearwater, FL           60091
361     Virginia Beach-Norfolk-Newport News, VA-NC           57873
366   Washington-Arlington-Alexandria, DC-VA-MD-WV           83010

In [113]:
pi2 <- pi2 %>%
  mutate(Area = case_when(
    Area == "Atlanta-Sandy Springs-Alpharetta, GA" ~ "Atlanta",
    Area == "Austin-Round Rock-Georgetown, TX" ~ "Austin",
    Area == "Baltimore-Columbia-Towson, MD" ~ "Baltimore",
    Area == "Boston-Cambridge-Newton, MA-NH" ~ "Boston",
    Area == "Charlotte-Concord-Gastonia, NC-SC" ~ "Charlotte",
    Area == "Chicago-Naperville-Elgin, IL-IN-WI" ~ "Chicago",
    Area == "Cincinnati, OH-KY-IN" ~ "Cincinnati",
    Area == "Cleveland-Elyria, OH" ~ "Cleveland",
    Area == "Columbus, OH" ~ "Columbus",
    Area == "Dallas-Fort Worth-Arlington, TX" ~ "Dallas-Fort Worth",
    Area == "Denver-Aurora-Lakewood, CO" ~ "Denver",
    Area == "Detroit-Warren-Dearborn, MI" ~ "Detroit",
    Area == "Houston-The Woodlands-Sugar Land, TX" ~ "Houston",
    Area == "Indianapolis-Carmel-Anderson, IN" ~ "Indianapolis",
    Area == "Kansas City, MO-KS" ~ "Kansas City",
    Area == "Las Vegas-Henderson-Paradise, NV" ~ "Las Vegas",
    Area == "Los Angeles-Long Beach-Anaheim, CA" ~ "Los Angeles",
    Area == "Miami-Fort Lauderdale-Pompano Beach, FL" ~ "Miami",
    Area == "Minneapolis-St. Paul-Bloomington, MN-WI" ~ "Minneapolis-St. Paul",
    Area == "Nashville-Davidson--Murfreesboro--Franklin, TN" ~ "Nashville",
    Area == "New York-Newark-Jersey City, NY-NJ-PA" ~ "New York",
    Area == "Orlando-Kissimmee-Sanford, FL" ~ "Orlando",
    Area == "Philadelphia-Camden-Wilmington, PA-NJ-DE-MD" ~ "Philadelphia",
    Area == "Phoenix-Mesa-Chandler, AZ" ~ "Phoenix",
    Area == "Pittsburgh, PA" ~ "Pittsburgh",
    Area == "Portland-Vancouver-Hillsboro, OR-WA" ~ "Portland",
    Area == "Sacramento-Roseville-Folsom, CA" ~ "Sacramento",
    Area == "St. Louis, MO-IL" ~ "St. Louis",
    Area == "San Antonio-New Braunfels, TX" ~ "San Antonio",
    Area == "San Diego-Chula Vista-Carlsbad, CA" ~ "San Diego",
    Area == "San Francisco-Oakland-Berkeley, CA" ~ "San Francisco",
    Area == "Seattle-Tacoma-Bellevue, WA" ~ "Seattle",
    Area == "Tampa-St. Petersburg-Clearwater, FL" ~ "Tampa",
    Area == "Virginia Beach-Norfolk-Newport News, VA-NC" ~ "Virginia Beach",
    Area == "Washington-Arlington-Alexandria, DC-VA-MD-WV" ~ "Washington, DC",
    TRUE ~ Area
  ))

print(pi2)

                           Area personal income
18                      Atlanta           64107
22                       Austin           75119
24                    Baltimore           71420
43                       Boston           94082
65                    Charlotte           65156
66          Charlottesville, VA           80969
69                      Chicago           72512
71                   Cincinnati           65253
73                Cleveland, TN           46240
74                    Cleveland           62921
80              Columbus, GA-AL           46748
81                 Columbus, IN           61920
82                     Columbus           61228
87            Dallas-Fort Worth           70493
96                       Denver           84788
98                      Detroit           61322
160                     Houston           68344
164                Indianapolis           68719
181                 Kansas City           63417
198                   Las Vegas           59150
211                 Los Angeles           76445
226                       Miami           77732
231        Minneapolis-St. Paul           75164
246                   Nashville           74035
250                    New York           84084
261                     Orlando           53959
270                Philadelphia           73291
271                     Phoenix           61840
273                  Pittsburgh           65792
276 Portland-South Portland, ME           71990
277                    Portland           69435
299                  Sacramento           66940
304                   St. Louis           69698
310                 San Antonio           55180
311                   San Diego           74326
312               San Francisco          123736
321                     Seattle           92113
343                       Tampa           60091
361              Virginia Beach           57873
366              Washington, DC           83010

In [114]:
pi2 <- pi2 %>%
  filter(!Area %in% c("Charlottesville, VA", "Cleveland, TN", "Columbus, GA-AL", "Columbus, IN", "Portland-South Portland, ME"))

print(pi2)

                   Area personal income
1               Atlanta           64107
2                Austin           75119
3             Baltimore           71420
4                Boston           94082
5             Charlotte           65156
6               Chicago           72512
7            Cincinnati           65253
8             Cleveland           62921
9              Columbus           61228
10    Dallas-Fort Worth           70493
11               Denver           84788
12              Detroit           61322
13              Houston           68344
14         Indianapolis           68719
15          Kansas City           63417
16            Las Vegas           59150
17          Los Angeles           76445
18                Miami           77732
19 Minneapolis-St. Paul           75164
20            Nashville           74035
21             New York           84084
22              Orlando           53959
23         Philadelphia           73291
24              Phoenix           61840
25           Pittsburgh           65792
26             Portland           69435
27           Sacramento           66940
28            St. Louis           69698
29          San Antonio           55180
30            San Diego           74326
31        San Francisco          123736
32              Seattle           92113
33                Tampa           60091
34       Virginia Beach           57873
35       Washington, DC           83010

In [115]:
pi2 <- pi2 %>%
  rename(REGION = Area)

head(pi2)

  REGION    personal income
1 Atlanta   64107
2 Austin    75119
3 Baltimore 71420
4 Boston    94082
5 Charlotte 65156
6 Chicago   72512

In [116]:
write.csv(pi2, file = "data_partial/personal_income.csv", row.names = FALSE)

---------------

# Median Rent

In [117]:
rent <- read.csv("data_raw/median_rent.csv")

head(rent)

  CBSA
1 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/rhode island/providence-apartments/">Providence, RI</a>
2 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/florida/jacksonville-apartments/">Jacksonville, FL</a>
3 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/california/san-jose-apartments/">San Jose, CA</a>
4 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/missouri/st.-louis-apartments/">St. Louis, MO</a>
5 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/missouri/kansas-city-apartments/">Kansas City, MO</a>
6 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/minnesota/minneapolis-apartments/">Minneapolis, MN</a>
  Population Median.Rent YoY...Change MoM...Change
1 1675774    2742.75     16.181298     4.7650879
2 1637666    1804.25     10.503751     1.3196687
3 1952185    3932.00      8.942301     0.7688365
4 2809299    1680.50      8.279639    -3.4611518
5 2199490    1686.25      8.266453    -0.5162242
6 3690512    1896.50      7.893614     0.3439153

In [118]:
rent <- rent %>% select(CBSA, Median.Rent)

head(rent)

  CBSA
1 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/rhode island/providence-apartments/">Providence, RI</a>
2 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/florida/jacksonville-apartments/">Jacksonville, FL</a>
3 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/california/san-jose-apartments/">San Jose, CA</a>
4 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/missouri/st.-louis-apartments/">St. Louis, MO</a>
5 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/missouri/kansas-city-apartments/">Kansas City, MO</a>
6 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/minnesota/minneapolis-apartments/">Minneapolis, MN</a>
  Median.Rent
1 2742.75
2 1804.25
3 3932.00
4 1680.50
5 1686.25
6 1896.50

In [119]:
rent <- rent %>%
  rename(REGION = CBSA)

head(rent)

  REGION
1 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/rhode island/providence-apartments/">Providence, RI</a>
2 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/florida/jacksonville-apartments/">Jacksonville, FL</a>
3 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/california/san-jose-apartments/">San Jose, CA</a>
4 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/missouri/st.-louis-apartments/">St. Louis, MO</a>
5 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/missouri/kansas-city-apartments/">Kansas City, MO</a>
6 <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.rent.com/minnesota/minneapolis-apartments/">Minneapolis, MN</a>
  Median.Rent
1 2742.75
2 1804.25
3 3932.00
4 1680.50
5 1686.25
6 1896.50

In [120]:
rent$REGION <- str_extract(rent$REGION, "(?<=\">)[^<]+")

print(rent)

                            REGION Median.Rent
1                   Providence, RI     2742.75
2                 Jacksonville, FL     1804.25
3                     San Jose, CA     3932.00
4                    St. Louis, MO     1680.50
5                  Kansas City, MO     1686.25
6                  Minneapolis, MN     1896.50
7                Oklahoma City, OK     1267.75
8               Virginia Beach, VA     1826.00
9                      Chicago, IL     2357.50
10                   Milwaukee, WI     1834.50
11                    Hartford, CT     2160.00
12                     Buffalo, NY     1736.75
13                     Orlando, FL     2246.50
14                    Columbus, OH     1704.50
15                  Cincinnati, OH     1646.00
16                 Los Angeles, CA     3587.25
17                     Phoenix, AZ     2182.25
18              Salt Lake City, UT     1974.75
19                    Richmond, VA     1806.25
20                     Seattle, WA     2946.00
21                     Atlanta, GA     2113.00
22                      Boston, MA     3939.50
23                    New York, NY     4120.75
24                  Birmingham, AL     1625.25
25                      Dallas, TX     2180.00
26                 San Antonio, TX     1463.00
27               San Francisco, CA     3788.75
28                Indianapolis, IN     1563.50
29                  Washington, DC     2657.25
30                Philadelphia, PA     2340.25
31                   Baltimore, MD     1981.50
32                   San Diego, CA     3400.25
33                  Sacramento, CA     2614.25
34                       Miami, FL     3056.50
35                       Tampa, FL     2207.50
36                     Detroit, MI     1619.75
37                   Charlotte, NC     1923.50
38                   Cleveland, OH     1471.25
39                  Pittsburgh, PA     1800.75
40 Louisville/Jefferson County, KY     1323.50
41                      Denver, CO     2677.00
42                   Las Vegas, NV     1666.00
43                   Riverside, CA     2639.50
44                    Portland, OR     2333.00
45                     Memphis, TN     1519.50
46                      Austin, TX     1937.50
47                     Raleigh, NC     1906.75
48                     Houston, TX     1578.00
49                 New Orleans, LA     1594.50
50                   Nashville, TN     1903.50

no baltimore, phoenix, orlando

In [121]:
dim(rent)

[1] 50  2

In [127]:
areas_to_keep <- c("Cleveland", "New York", "Kansas City", "Detroit", "Philadelphia", "Pittsburgh", 
                   "Baltimore", "Washington", "Cincinnati", "Minneapolis", "St. Louis", 
                   "Boston", "Indianapolis", "Chicago", "San Antonio", "Las Vegas", "Seattle", "Denver", 
                   "Phoenix", "Sacramento", "Houston", "San Francisco", "Charlotte", "Virginia Beach", 
                   "Columbus", "Portland", "Atlanta", "Austin", "Dallas", "Orlando", 
                   "Nashville", "San Diego", "Miami", "Tampa", "Los Angeles")

In [106]:
areas_to_keep

 [1] "Cleveland"            "New York"             "Kansas City"
 [4] "Detroit"              "Philadelphia"         "Pittsburgh"
 [7] "Baltimore"            "Washington"           "Cincinnati"
[10] "Minneapolis-St. Paul" "St. Louis"            "Boston"
[13] "Indianapolis"         "Chicago"              "San Antonio"
[16] "Las Vegas"            "Seattle"              "Denver"
[19] "Phoenix"              "Sacramento"           "Houston"
[22] "San Francisco"        "Charlotte"            "Virginia Beach"
[25] "Columbus"             "Portland"             "Atlanta"
[28] "Austin"               "Dallas"               "Orlando"
[31] "Nashville"            "San Diego"            "Miami"
[34] "Tampa"                "Los Angeles"

In [132]:
rent2 <- rent[str_detect(rent$REGION, paste(areas_to_keep, collapse = "|")), ]

print(rent2)

               REGION Median.Rent
4       St. Louis, MO     1680.50
5     Kansas City, MO     1686.25
6     Minneapolis, MN     1896.50
8  Virginia Beach, VA     1826.00
9         Chicago, IL     2357.50
13        Orlando, FL     2246.50
14       Columbus, OH     1704.50
15     Cincinnati, OH     1646.00
16    Los Angeles, CA     3587.25
17        Phoenix, AZ     2182.25
20        Seattle, WA     2946.00
21        Atlanta, GA     2113.00
22         Boston, MA     3939.50
23       New York, NY     4120.75
25         Dallas, TX     2180.00
26    San Antonio, TX     1463.00
27  San Francisco, CA     3788.75
28   Indianapolis, IN     1563.50
29     Washington, DC     2657.25
30   Philadelphia, PA     2340.25
31      Baltimore, MD     1981.50
32      San Diego, CA     3400.25
33     Sacramento, CA     2614.25
34          Miami, FL     3056.50
35          Tampa, FL     2207.50
36        Detroit, MI     1619.75
37      Charlotte, NC     1923.50
38      Cleveland, OH     1471.25
39     Pittsburgh, PA     1800.75
41         Denver, CO     2677.00
42      Las Vegas, NV     1666.00
44       Portland, OR     2333.00
46         Austin, TX     1937.50
48        Houston, TX     1578.00
50      Nashville, TN     1903.50

In [133]:
rent2 <- rent2 %>%
  mutate(REGION = case_when(
    REGION == "St. Louis, MO" ~ "St. Louis",
    REGION == "Kansas City, MO" ~ "Kansas City",
    REGION == "Virginia Beach, VA" ~ "Virginia Beach",
    REGION == "Chicago, IL" ~ "Chicago",
    REGION == "Columbus, OH" ~ "Columbus",
    REGION == "Orlando, FL" ~ "Orlando",
    REGION == "Cincinnati, OH" ~ "Cincinnati",
    REGION == "Los Angeles, CA" ~ "Los Angeles",
    REGION == "Phoenix, AZ" ~ "Phoenix",
    REGION == "Seattle, WA" ~ "Seattle",
    REGION == "Atlanta, GA" ~ "Atlanta",
    REGION == "Boston, MA" ~ "Boston",
    REGION == "New York, NY" ~ "New York",
    REGION == "San Antonio, TX" ~ "San Antonio",
    REGION == "San Francisco, CA" ~ "San Francisco",
    REGION == "Indianapolis, IN" ~ "Indianapolis",
    REGION == "Philadelphia, PA" ~ "Philadelphia",
    REGION == "Baltimore, MD" ~ "Baltimore",
    REGION == "San Diego, CA" ~ "San Diego",
    REGION == "Sacramento, CA" ~ "Sacramento",
    REGION == "Miami, FL" ~ "Miami",
    REGION == "Tampa, FL" ~ "Tampa",
    REGION == "Detroit, MI" ~ "Detroit",
    REGION == "Charlotte, NC" ~ "Charlotte",
    REGION == "Cleveland, OH" ~ "Cleveland",
    REGION == "Pittsburgh, PA" ~ "Pittsburgh",
    REGION == "Denver, CO" ~ "Denver",
    REGION == "Las Vegas, NV" ~ "Las Vegas",
    REGION == "Houston, TX" ~ "Houston",
    REGION == "Portland, OR" ~ "Portland",
    REGION == "Austin, TX" ~ "Austin",
    REGION == "Nashville, TN" ~ "Nashville",
    REGION == "Minneapolis, MN" ~ "Minneapolis-St. Paul",
    REGION == "Dallas, TX" ~ "Dallas-Fort Worth",

    TRUE ~ REGION
  ))

print(rent2)

                 REGION Median.Rent
4             St. Louis     1680.50
5           Kansas City     1686.25
6  Minneapolis-St. Paul     1896.50
8        Virginia Beach     1826.00
9               Chicago     2357.50
13              Orlando     2246.50
14             Columbus     1704.50
15           Cincinnati     1646.00
16          Los Angeles     3587.25
17              Phoenix     2182.25
20              Seattle     2946.00
21              Atlanta     2113.00
22               Boston     3939.50
23             New York     4120.75
25    Dallas-Fort Worth     2180.00
26          San Antonio     1463.00
27        San Francisco     3788.75
28         Indianapolis     1563.50
29       Washington, DC     2657.25
30         Philadelphia     2340.25
31            Baltimore     1981.50
32            San Diego     3400.25
33           Sacramento     2614.25
34                Miami     3056.50
35                Tampa     2207.50
36              Detroit     1619.75
37            Charlotte     1923.50
38            Cleveland     1471.25
39           Pittsburgh     1800.75
41               Denver     2677.00
42            Las Vegas     1666.00
44             Portland     2333.00
46               Austin     1937.50
48              Houston     1578.00
50            Nashville     1903.50

In [134]:
dim(rent2)

[1] 35  2

In [136]:
dim(pi2)

[1] 35  2

In [135]:
write.csv(rent2, file = "data_partial/median_rent.csv", row.names = FALSE)

-----------

# Median Sales Price

In [138]:
sales <- read.csv("data_raw/median_sale_price.csv")

head(sales)

  RegionID SizeRank RegionName      RegionType StateName X2008.02.29
1 102001   0        United States   country              174000
2 394913   1        New York, NY    msa        NY        400000
3 753899   2        Los Angeles, CA msa        CA        470000
4 394463   3        Chicago, IL     msa        IL        223785
5 394514   4        Dallas, TX      msa        TX        138000
6 394692   5        Houston, TX     msa        TX        146007
  X2008.03.31 X2008.04.30 X2008.05.31 X2008.06.30 ⋯ X2023.05.31 X2023.06.30
1 179000      180000      180500      186000      ⋯ 345000      350000
2 390000      395000      395000      400000      ⋯ 548625      575000
3 456000      458000      440000      435000      ⋯ 860000      885000
4 230000      228000      235000      242000      ⋯ 309900      321000
5 145950      144950      150000      155500      ⋯ 390000      400000
6 145000      146360      150000      156000      ⋯ 325000      332000
  X2023.07.31 X2023.08.31 X2023.09.30 X2023.10.31 X2023.11.30 X2023.12.31
1 349000      345000      335000      330000      325000      323000
2 585000      600000      577500      560000      565000      570000
3 890000      895000      882000      890500      900000      875000
4 315000      310000      300000      288000      290000      284500
5 395250      387000      379429      375000      375000      367682
6     NA          NA      318000      315000      315000      310000
  X2024.01.31 X2024.02.29
1 325000      335000
2 572000      565000
3 865000      920000
4 285000      290000
5 367350      380000
6 307250      325000

In [139]:
sales <- sales %>% select(RegionName, X2024.02.29)

head(sales)

  RegionName      X2024.02.29
1 United States   335000
2 New York, NY    565000
3 Los Angeles, CA 920000
4 Chicago, IL     290000
5 Dallas, TX      380000
6 Houston, TX     325000

In [140]:
dim(sales)

[1] 667   2

In [141]:
areas_to_keep

 [1] "Cleveland"      "New York"       "Kansas City"    "Detroit"
 [5] "Philadelphia"   "Pittsburgh"     "Baltimore"      "Washington"
 [9] "Cincinnati"     "Minneapolis"    "St. Louis"      "Boston"
[13] "Indianapolis"   "Chicago"        "San Antonio"    "Las Vegas"
[17] "Seattle"        "Denver"         "Phoenix"        "Sacramento"
[21] "Houston"        "San Francisco"  "Charlotte"      "Virginia Beach"
[25] "Columbus"       "Portland"       "Atlanta"        "Austin"
[29] "Dallas"         "Orlando"        "Nashville"      "San Diego"
[33] "Miami"          "Tampa"          "Los Angeles"

In [143]:
sales <- sales %>%
    rename(REGION = RegionName) %>%
    rename(`median sale price` = X2024.02.29)

head(sales)

  REGION          median sale price
1 United States   335000
2 New York, NY    565000
3 Los Angeles, CA 920000
4 Chicago, IL     290000
5 Dallas, TX      380000
6 Houston, TX     325000

In [144]:
sales2 <- sales[str_detect(sales$REGION, paste(areas_to_keep, collapse = "|")), ]

print(sales2)

                        REGION median sale price
2                 New York, NY            565000
3              Los Angeles, CA            920000
4                  Chicago, IL            290000
5                   Dallas, TX            380000
6                  Houston, TX            325000
7               Washington, DC            515000
8             Philadelphia, PA            301250
9                    Miami, FL            465000
10                 Atlanta, GA            357000
11                  Boston, MA            600000
12                 Phoenix, AZ            449000
13           San Francisco, CA           1065000
15                 Detroit, MI            230000
16                 Seattle, WA            665000
17             Minneapolis, MN            335000
18               San Diego, CA            860000
19                   Tampa, FL            365000
20                  Denver, CO            556000
21               Baltimore, MD            325500
22               St. Louis, MO            218000
23                 Orlando, FL            380000
24               Charlotte, NC            365000
25             San Antonio, TX            297000
26                Portland, OR            515000
27              Sacramento, CA            542000
28              Pittsburgh, PA            192500
29              Cincinnati, OH            247000
30                  Austin, TX            451250
31               Las Vegas, NV            415000
32             Kansas City, MO            279000
33                Columbus, OH            262510
34            Indianapolis, IN            250000
35               Cleveland, OH            179000
37               Nashville, TN            419900
38          Virginia Beach, VA            309750
105               Portland, ME            475000
157               Columbus, GA            189900
208        Charlottesville, VA            400000
324              Cleveland, TN            230000
396       New Philadelphia, OH            164000
422               Columbus, IN            231889
586             Washington, NC            330000
615                 Austin, MN            182500
657 Washington Court House, OH            167900

In [146]:
sales2 <- sales2 %>%
    mutate(REGION = case_when(
        REGION == "New York, NY" ~ "New York",
        REGION == "Los Angeles, CA" ~ "Los Angeles",
        REGION == "Chicago, IL" ~ "Chicago",
        REGION == "Dallas, TX" ~ "Dallas-Fort Worth",
        REGION == "Philadelphia, PA" ~ "Philadelphia",
        REGION == "Houston, TX" ~ "Houston",
        REGION == "Miami, FL" ~ "Miami",
        REGION == "Atlanta, GA" ~ "Atlanta",
        REGION == "Boston, MA" ~ "Boston",
        REGION == "San Francisco, CA" ~ "San Francisco",
        REGION == "Detroit, MI" ~ "Detroit",
        REGION == "Phoenix, AZ" ~ "Phoenix",
        REGION == "Seattle, WA" ~ "Seattle",
        REGION == "Minneapolis, MN" ~ "Minneapolis-St. Paul",
        REGION == "San Diego, CA" ~ "San Diego",
        REGION == "Tampa, FL" ~ "Tampa",
        REGION == "Denver, CO" ~ "Denver",
        REGION == "St. Louis, MO" ~ "St. Louis",
        REGION == "Baltimore, MD" ~ "Baltimore",
        REGION == "Charlotte, NC" ~ "Charlotte",
        REGION == "Orlando, FL" ~ "Orlando",
        REGION == "San Antonio, TX" ~ "San Antonio",
        REGION == "Portland, OR" ~ "Portland",
        REGION == "Sacramento, CA" ~ "Sacramento",
        REGION == "Cincinnati, OH" ~ "Cincinnati",
        REGION == "Pittsburgh, PA" ~ "Pittsburgh",
        REGION == "Las Vegas, NV" ~ "Las Vegas",
        REGION == "Austin, TX" ~ "Austin",
        REGION == "Columbus, OH" ~ "Columbus",
        REGION == "Indianapolis, IN" ~ "Indianapolis",
        REGION == "Kansas City, MO" ~ "Kansas City",
        REGION == "Virginia Beach, VA" ~ "Virginia Beach",
        REGION == "Cleveland, OH" ~ "Cleveland",
        REGION == "Nashville, TN" ~ "Nashville",
    
        TRUE ~ REGION
    ))

print(sales2)

                        REGION median sale price
2                     New York            565000
3                  Los Angeles            920000
4                      Chicago            290000
5            Dallas-Fort Worth            380000
6                      Houston            325000
7               Washington, DC            515000
8                 Philadelphia            301250
9                        Miami            465000
10                     Atlanta            357000
11                      Boston            600000
12                     Phoenix            449000
13               San Francisco           1065000
15                     Detroit            230000
16                     Seattle            665000
17        Minneapolis-St. Paul            335000
18                   San Diego            860000
19                       Tampa            365000
20                      Denver            556000
21                   Baltimore            325500
22                   St. Louis            218000
23                     Orlando            380000
24                   Charlotte            365000
25                 San Antonio            297000
26                    Portland            515000
27                  Sacramento            542000
28                  Pittsburgh            192500
29                  Cincinnati            247000
30                      Austin            451250
31                   Las Vegas            415000
32                 Kansas City            279000
33                    Columbus            262510
34                Indianapolis            250000
35                   Cleveland            179000
37                   Nashville            419900
38              Virginia Beach            309750
105               Portland, ME            475000
157               Columbus, GA            189900
208        Charlottesville, VA            400000
324              Cleveland, TN            230000
396       New Philadelphia, OH            164000
422               Columbus, IN            231889
586             Washington, NC            330000
615                 Austin, MN            182500
657 Washington Court House, OH            167900

In [147]:
sales2 <- head(sales2, -9)

print(sales2)

                 REGION median sale price
2              New York            565000
3           Los Angeles            920000
4               Chicago            290000
5     Dallas-Fort Worth            380000
6               Houston            325000
7        Washington, DC            515000
8          Philadelphia            301250
9                 Miami            465000
10              Atlanta            357000
11               Boston            600000
12              Phoenix            449000
13        San Francisco           1065000
15              Detroit            230000
16              Seattle            665000
17 Minneapolis-St. Paul            335000
18            San Diego            860000
19                Tampa            365000
20               Denver            556000
21            Baltimore            325500
22            St. Louis            218000
23              Orlando            380000
24            Charlotte            365000
25          San Antonio            297000
26             Portland            515000
27           Sacramento            542000
28           Pittsburgh            192500
29           Cincinnati            247000
30               Austin            451250
31            Las Vegas            415000
32          Kansas City            279000
33             Columbus            262510
34         Indianapolis            250000
35            Cleveland            179000
37            Nashville            419900
38       Virginia Beach            309750

In [148]:
dim(sales2)

[1] 35  2

In [149]:
write.csv(sales2, file = "data_partial/median_sale_price.csv", row.names = FALSE)

-------------

In [155]:
rent2

   REGION               Median.Rent
4  St. Louis            1680.50
5  Kansas City          1686.25
6  Minneapolis-St. Paul 1896.50
8  Virginia Beach       1826.00
9  Chicago              2357.50
13 Orlando              2246.50
14 Columbus             1704.50
15 Cincinnati           1646.00
16 Los Angeles          3587.25
17 Phoenix              2182.25
20 Seattle              2946.00
21 Atlanta              2113.00
22 Boston               3939.50
23 New York             4120.75
25 Dallas-Fort Worth    2180.00
26 San Antonio          1463.00
27 San Francisco        3788.75
28 Indianapolis         1563.50
29 Washington, DC       2657.25
30 Philadelphia         2340.25
31 Baltimore            1981.50
32 San Diego            3400.25
33 Sacramento           2614.25
34 Miami                3056.50
35 Tampa                2207.50
36 Detroit              1619.75
37 Charlotte            1923.50
38 Cleveland            1471.25
39 Pittsburgh           1800.75
41 Denver               2677.00
42 Las Vegas            1666.00
44 Portland             2333.00
46 Austin               1937.50
48 Houston              1578.00
50 Nashville            1903.50

In [151]:
sales2

   REGION               median sale price
2  New York              565000
3  Los Angeles           920000
4  Chicago               290000
5  Dallas-Fort Worth     380000
6  Houston               325000
7  Washington, DC        515000
8  Philadelphia          301250
9  Miami                 465000
10 Atlanta               357000
11 Boston                600000
12 Phoenix               449000
13 San Francisco        1065000
15 Detroit               230000
16 Seattle               665000
17 Minneapolis-St. Paul  335000
18 San Diego             860000
19 Tampa                 365000
20 Denver                556000
21 Baltimore             325500
22 St. Louis             218000
23 Orlando               380000
24 Charlotte             365000
25 San Antonio           297000
26 Portland              515000
27 Sacramento            542000
28 Pittsburgh            192500
29 Cincinnati            247000
30 Austin                451250
31 Las Vegas             415000
32 Kansas City           279000
33 Columbus              262510
34 Indianapolis          250000
35 Cleveland             179000
37 Nashville             419900
38 Virginia Beach        309750

In [152]:
pi2

   REGION               personal income
1  Atlanta               64107
2  Austin                75119
3  Baltimore             71420
4  Boston                94082
5  Charlotte             65156
6  Chicago               72512
7  Cincinnati            65253
8  Cleveland             62921
9  Columbus              61228
10 Dallas-Fort Worth     70493
11 Denver                84788
12 Detroit               61322
13 Houston               68344
14 Indianapolis          68719
15 Kansas City           63417
16 Las Vegas             59150
17 Los Angeles           76445
18 Miami                 77732
19 Minneapolis-St. Paul  75164
20 Nashville             74035
21 New York              84084
22 Orlando               53959
23 Philadelphia          73291
24 Phoenix               61840
25 Pittsburgh            65792
26 Portland              69435
27 Sacramento            66940
28 St. Louis             69698
29 San Antonio           55180
30 San Diego             74326
31 San Francisco        123736
32 Seattle               92113
33 Tampa                 60091
34 Virginia Beach        57873
35 Washington, DC        83010

In [153]:
merged_df <- pi2 %>%
    inner_join(rent2, by = "REGION") %>%
    inner_join(sales2, by = "REGION")

merged_df

dim(merged_df)

   REGION               personal income Median.Rent median sale price
1  Atlanta               64107          2113.00      357000
2  Austin                75119          1937.50      451250
3  Baltimore             71420          1981.50      325500
4  Boston                94082          3939.50      600000
5  Charlotte             65156          1923.50      365000
6  Chicago               72512          2357.50      290000
7  Cincinnati            65253          1646.00      247000
8  Cleveland             62921          1471.25      179000
9  Columbus              61228          1704.50      262510
10 Dallas-Fort Worth     70493          2180.00      380000
11 Denver                84788          2677.00      556000
12 Detroit               61322          1619.75      230000
13 Houston               68344          1578.00      325000
14 Indianapolis          68719          1563.50      250000
15 Kansas City           63417          1686.25      279000
16 Las Vegas             59150          1666.00      415000
17 Los Angeles           76445          3587.25      920000
18 Miami                 77732          3056.50      465000
19 Minneapolis-St. Paul  75164          1896.50      335000
20 Nashville             74035          1903.50      419900
21 New York              84084          4120.75      565000
22 Orlando               53959          2246.50      380000
23 Philadelphia          73291          2340.25      301250
24 Phoenix               61840          2182.25      449000
25 Pittsburgh            65792          1800.75      192500
26 Portland              69435          2333.00      515000
27 Sacramento            66940          2614.25      542000
28 St. Louis             69698          1680.50      218000
29 San Antonio           55180          1463.00      297000
30 San Diego             74326          3400.25      860000
31 San Francisco        123736          3788.75     1065000
32 Seattle               92113          2946.00      665000
33 Tampa                 60091          2207.50      365000
34 Virginia Beach        57873          1826.00      309750
35 Washington, DC        83010          2657.25      515000

[1] 35  4

In [154]:
write.csv(merged_df, file = "data_partial/rent_sales_income.csv", row.names = FALSE)

-------

In [2]:
df1 <- read.csv("../data_partial/rent_sales_income.csv")
df1

   REGION               personal.income Median.Rent median.sale.price
1  Atlanta               64107          2113.00      357000
2  Austin                75119          1937.50      451250
3  Baltimore             71420          1981.50      325500
4  Boston                94082          3939.50      600000
5  Charlotte             65156          1923.50      365000
6  Chicago               72512          2357.50      290000
7  Cincinnati            65253          1646.00      247000
8  Cleveland             62921          1471.25      179000
9  Columbus              61228          1704.50      262510
10 Dallas-Fort Worth     70493          2180.00      380000
11 Denver                84788          2677.00      556000
12 Detroit               61322          1619.75      230000
13 Houston               68344          1578.00      325000
14 Indianapolis          68719          1563.50      250000
15 Kansas City           63417          1686.25      279000
16 Las Vegas             59150          1666.00      415000
17 Los Angeles           76445          3587.25      920000
18 Miami                 77732          3056.50      465000
19 Minneapolis-St. Paul  75164          1896.50      335000
20 Nashville             74035          1903.50      419900
21 New York              84084          4120.75      565000
22 Orlando               53959          2246.50      380000
23 Philadelphia          73291          2340.25      301250
24 Phoenix               61840          2182.25      449000
25 Pittsburgh            65792          1800.75      192500
26 Portland              69435          2333.00      515000
27 Sacramento            66940          2614.25      542000
28 St. Louis             69698          1680.50      218000
29 San Antonio           55180          1463.00      297000
30 San Diego             74326          3400.25      860000
31 San Francisco        123736          3788.75     1065000
32 Seattle               92113          2946.00      665000
33 Tampa                 60091          2207.50      365000
34 Virginia Beach        57873          1826.00      309750
35 Washington, DC        83010          2657.25      515000

In [3]:
df2 <- read.csv("../data_partial/walk_pp_unemploy.csv")
df2

   REGION               Walkable Unemployment Purchase_power_100_dollars
1  New York             100.0    4.7           87.28
2  Boston                74.3    3.3           91.17
3  Washington, DC        72.6    3.0           89.82
4  Seattle               69.4    4.7           87.28
5  Portland              68.5    4.8           94.90
6  Portland              68.5    4.8           98.29
7  San Francisco         66.2    4.4           83.45
8  Chicago               65.9    5.3           94.86
9  Los Angeles           59.0    4.8           87.86
10 Pittsburgh            57.2    3.6          105.09
11 Philadelphia          55.1    3.8          100.80
12 Minneapolis-St. Paul  54.4    3.3           96.54
13 Miami                 54.2    2.5           90.97
14 Charlotte             51.7    3.6          103.52
15 Austin                50.0    3.7           99.96
16 Atlanta               49.4    3.0          100.89
17 Denver                48.7    4.2           91.61
18 Cleveland             47.0    4.6          106.15
19 Cleveland             47.0    4.6          113.62
20 Houston               46.6    4.6          100.26
21 Baltimore             44.7    2.8           95.23
22 Kansas City           44.1    3.6          106.77
23 Nashville             43.5    2.2          104.68
24 St. Louis             43.5    4.0          103.90
25 Sacramento            40.4    5.2           94.08
26 Cincinnati            40.0    4.1          106.00
27 Detroit               39.2    4.0          104.05
28 Dallas-Fort Worth     38.9    4.2           96.29
29 San Diego             37.0    4.7           86.84
30 Indianapolis          36.4    3.7          105.23
31 Tampa                 35.4    3.3          101.04
32 Virginia Beach        34.5    3.0          102.26
33 Phoenix               33.6    3.3          100.83
34 Orlando               32.4    3.2          100.19
35 San Antonio           29.4    4.1          103.76
36 Las Vegas             27.5    5.2          104.66

In [4]:
df2 <- df2 %>%
  slice(-c(6, 19))

df2

   REGION               Walkable Unemployment Purchase_power_100_dollars
1  New York             100.0    4.7           87.28
2  Boston                74.3    3.3           91.17
3  Washington, DC        72.6    3.0           89.82
4  Seattle               69.4    4.7           87.28
5  Portland              68.5    4.8           94.90
6  San Francisco         66.2    4.4           83.45
7  Chicago               65.9    5.3           94.86
8  Los Angeles           59.0    4.8           87.86
9  Pittsburgh            57.2    3.6          105.09
10 Philadelphia          55.1    3.8          100.80
11 Minneapolis-St. Paul  54.4    3.3           96.54
12 Miami                 54.2    2.5           90.97
13 Charlotte             51.7    3.6          103.52
14 Austin                50.0    3.7           99.96
15 Atlanta               49.4    3.0          100.89
16 Denver                48.7    4.2           91.61
17 Cleveland             47.0    4.6          106.15
18 Houston               46.6    4.6          100.26
19 Baltimore             44.7    2.8           95.23
20 Kansas City           44.1    3.6          106.77
21 Nashville             43.5    2.2          104.68
22 St. Louis             43.5    4.0          103.90
23 Sacramento            40.4    5.2           94.08
24 Cincinnati            40.0    4.1          106.00
25 Detroit               39.2    4.0          104.05
26 Dallas-Fort Worth     38.9    4.2           96.29
27 San Diego             37.0    4.7           86.84
28 Indianapolis          36.4    3.7          105.23
29 Tampa                 35.4    3.3          101.04
30 Virginia Beach        34.5    3.0          102.26
31 Phoenix               33.6    3.3          100.83
32 Orlando               32.4    3.2          100.19
33 San Antonio           29.4    4.1          103.76
34 Las Vegas             27.5    5.2          104.66

In [5]:
df1 <- df1 %>%
    filter(REGION != "Columbus")

df1

   REGION               personal.income Median.Rent median.sale.price
1  Atlanta               64107          2113.00      357000
2  Austin                75119          1937.50      451250
3  Baltimore             71420          1981.50      325500
4  Boston                94082          3939.50      600000
5  Charlotte             65156          1923.50      365000
6  Chicago               72512          2357.50      290000
7  Cincinnati            65253          1646.00      247000
8  Cleveland             62921          1471.25      179000
9  Dallas-Fort Worth     70493          2180.00      380000
10 Denver                84788          2677.00      556000
11 Detroit               61322          1619.75      230000
12 Houston               68344          1578.00      325000
13 Indianapolis          68719          1563.50      250000
14 Kansas City           63417          1686.25      279000
15 Las Vegas             59150          1666.00      415000
16 Los Angeles           76445          3587.25      920000
17 Miami                 77732          3056.50      465000
18 Minneapolis-St. Paul  75164          1896.50      335000
19 Nashville             74035          1903.50      419900
20 New York              84084          4120.75      565000
21 Orlando               53959          2246.50      380000
22 Philadelphia          73291          2340.25      301250
23 Phoenix               61840          2182.25      449000
24 Pittsburgh            65792          1800.75      192500
25 Portland              69435          2333.00      515000
26 Sacramento            66940          2614.25      542000
27 St. Louis             69698          1680.50      218000
28 San Antonio           55180          1463.00      297000
29 San Diego             74326          3400.25      860000
30 San Francisco        123736          3788.75     1065000
31 Seattle               92113          2946.00      665000
32 Tampa                 60091          2207.50      365000
33 Virginia Beach        57873          1826.00      309750
34 Washington, DC        83010          2657.25      515000

In [6]:
merged_df <- df1 %>%
    inner_join(df2, by = "REGION")

merged_df

   REGION               personal.income Median.Rent median.sale.price Walkable
1  Atlanta               64107          2113.00      357000            49.4
2  Austin                75119          1937.50      451250            50.0
3  Baltimore             71420          1981.50      325500            44.7
4  Boston                94082          3939.50      600000            74.3
5  Charlotte             65156          1923.50      365000            51.7
6  Chicago               72512          2357.50      290000            65.9
7  Cincinnati            65253          1646.00      247000            40.0
8  Cleveland             62921          1471.25      179000            47.0
9  Dallas-Fort Worth     70493          2180.00      380000            38.9
10 Denver                84788          2677.00      556000            48.7
11 Detroit               61322          1619.75      230000            39.2
12 Houston               68344          1578.00      325000            46.6
13 Indianapolis          68719          1563.50      250000            36.4
14 Kansas City           63417          1686.25      279000            44.1
15 Las Vegas             59150          1666.00      415000            27.5
16 Los Angeles           76445          3587.25      920000            59.0
17 Miami                 77732          3056.50      465000            54.2
18 Minneapolis-St. Paul  75164          1896.50      335000            54.4
19 Nashville             74035          1903.50      419900            43.5
20 New York              84084          4120.75      565000           100.0
21 Orlando               53959          2246.50      380000            32.4
22 Philadelphia          73291          2340.25      301250            55.1
23 Phoenix               61840          2182.25      449000            33.6
24 Pittsburgh            65792          1800.75      192500            57.2
25 Portland              69435          2333.00      515000            68.5
26 Sacramento            66940          2614.25      542000            40.4
27 St. Louis             69698          1680.50      218000            43.5
28 San Antonio           55180          1463.00      297000            29.4
29 San Diego             74326          3400.25      860000            37.0
30 San Francisco        123736          3788.75     1065000            66.2
31 Seattle               92113          2946.00      665000            69.4
32 Tampa                 60091          2207.50      365000            35.4
33 Virginia Beach        57873          1826.00      309750            34.5
34 Washington, DC        83010          2657.25      515000            72.6
   Unemployment Purchase_power_100_dollars
1  3.0          100.89
2  3.7           99.96
3  2.8           95.23
4  3.3           91.17
5  3.6          103.52
6  5.3           94.86
7  4.1          106.00
8  4.6          106.15
9  4.2           96.29
10 4.2           91.61
11 4.0          104.05
12 4.6          100.26
13 3.7          105.23
14 3.6          106.77
15 5.2          104.66
16 4.8           87.86
17 2.5           90.97
18 3.3           96.54
19 2.2          104.68
20 4.7           87.28
21 3.2          100.19
22 3.8          100.80
23 3.3          100.83
24 3.6          105.09
25 4.8           94.90
26 5.2           94.08
27 4.0          103.90
28 4.1          103.76
29 4.7           86.84
30 4.4           83.45
31 4.7           87.28
32 3.3          101.04
33 3.0          102.26
34 3.0           89.82

In [7]:
write.csv(merged_df, file = "../final_data/metro_data.csv", row.names = FALSE)

----

# Adding Coordinates

In [8]:
df <- read.csv("../final_data/metro_data.csv")

df

   REGION               personal.income Median.Rent median.sale.price Walkable
1  Atlanta               64107          2113.00      357000            49.4
2  Austin                75119          1937.50      451250            50.0
3  Baltimore             71420          1981.50      325500            44.7
4  Boston                94082          3939.50      600000            74.3
5  Charlotte             65156          1923.50      365000            51.7
6  Chicago               72512          2357.50      290000            65.9
7  Cincinnati            65253          1646.00      247000            40.0
8  Cleveland             62921          1471.25      179000            47.0
9  Dallas-Fort Worth     70493          2180.00      380000            38.9
10 Denver                84788          2677.00      556000            48.7
11 Detroit               61322          1619.75      230000            39.2
12 Houston               68344          1578.00      325000            46.6
13 Indianapolis          68719          1563.50      250000            36.4
14 Kansas City           63417          1686.25      279000            44.1
15 Las Vegas             59150          1666.00      415000            27.5
16 Los Angeles           76445          3587.25      920000            59.0
17 Miami                 77732          3056.50      465000            54.2
18 Minneapolis-St. Paul  75164          1896.50      335000            54.4
19 Nashville             74035          1903.50      419900            43.5
20 New York              84084          4120.75      565000           100.0
21 Orlando               53959          2246.50      380000            32.4
22 Philadelphia          73291          2340.25      301250            55.1
23 Phoenix               61840          2182.25      449000            33.6
24 Pittsburgh            65792          1800.75      192500            57.2
25 Portland              69435          2333.00      515000            68.5
26 Sacramento            66940          2614.25      542000            40.4
27 St. Louis             69698          1680.50      218000            43.5
28 San Antonio           55180          1463.00      297000            29.4
29 San Diego             74326          3400.25      860000            37.0
30 San Francisco        123736          3788.75     1065000            66.2
31 Seattle               92113          2946.00      665000            69.4
32 Tampa                 60091          2207.50      365000            35.4
33 Virginia Beach        57873          1826.00      309750            34.5
34 Washington, DC        83010          2657.25      515000            72.6
   Unemployment Purchase_power_100_dollars
1  3.0          100.89
2  3.7           99.96
3  2.8           95.23
4  3.3           91.17
5  3.6          103.52
6  5.3           94.86
7  4.1          106.00
8  4.6          106.15
9  4.2           96.29
10 4.2           91.61
11 4.0          104.05
12 4.6          100.26
13 3.7          105.23
14 3.6          106.77
15 5.2          104.66
16 4.8           87.86
17 2.5           90.97
18 3.3           96.54
19 2.2          104.68
20 4.7           87.28
21 3.2          100.19
22 3.8          100.80
23 3.3          100.83
24 3.6          105.09
25 4.8           94.90
26 5.2           94.08
27 4.0          103.90
28 4.1          103.76
29 4.7           86.84
30 4.4           83.45
31 4.7           87.28
32 3.3          101.04
33 3.0          102.26
34 3.0           89.82

In [10]:
coordinates <- data.frame(
    REGION = c("Atlanta", "Austin", "Baltimore", "Boston", "Charlotte", "Chicago", "Cincinnati", "Cleveland", "Dallas-Fort Worth", "Denver", "Detroit", "Houston", "Indianapolis", "Kansas City", "Las Vegas", "Los Angeles", "Miami", "Minneapolis-St. Paul", "Nashville", "New York", "Orlando", "Philadelphia", "Phoenix", "Pittsburgh", "Portland", "Sacramento", "St. Louis", "San Antonio", "San Diego", "San Francisco", "Seattle", "Tampa", "Virginia Beach", "Washington, DC"),
    Latitude = c(33.7490, 30.2672, 39.2904, 42.3601, 35.2271, 41.8781, 39.1031, 41.4993, 32.7767, 39.7392, 42.3314, 29.7604, 39.7684, 39.0997, 36.1699, 34.0522, 25.7617, 44.9778, 36.1627, 40.7128, 28.5383, 39.9526, 33.4484, 40.4406, 45.5051, 38.5816, 38.6270, 29.4241, 32.7157, 37.7749, 47.6062, 27.9506, 36.8529, 38.9072),
    Longitude = c(-84.3880, -97.7431, -76.6122, -71.0589, -80.8431, -87.6298, -84.5120, -81.6944, -96.7970, -104.9903, -83.0458, -95.3698, -86.1581, -94.5786, -115.1398, -118.2437, -80.1918, -93.2650, -86.7816, -74.0060, -81.3792, -75.1652, -112.0740, -79.9959, -122.6750, -121.4944, -90.1994, -98.4936, -117.1611, -122.4194, -122.3321, -82.4572, -75.9780, -77.0369)
)

In [11]:
df <- merge(df, coordinates, by = "REGION")

df

   REGION               personal.income Median.Rent median.sale.price Walkable
1  Atlanta               64107          2113.00      357000            49.4
2  Austin                75119          1937.50      451250            50.0
3  Baltimore             71420          1981.50      325500            44.7
4  Boston                94082          3939.50      600000            74.3
5  Charlotte             65156          1923.50      365000            51.7
6  Chicago               72512          2357.50      290000            65.9
7  Cincinnati            65253          1646.00      247000            40.0
8  Cleveland             62921          1471.25      179000            47.0
9  Dallas-Fort Worth     70493          2180.00      380000            38.9
10 Denver                84788          2677.00      556000            48.7
11 Detroit               61322          1619.75      230000            39.2
12 Houston               68344          1578.00      325000            46.6
13 Indianapolis          68719          1563.50      250000            36.4
14 Kansas City           63417          1686.25      279000            44.1
15 Las Vegas             59150          1666.00      415000            27.5
16 Los Angeles           76445          3587.25      920000            59.0
17 Miami                 77732          3056.50      465000            54.2
18 Minneapolis-St. Paul  75164          1896.50      335000            54.4
19 Nashville             74035          1903.50      419900            43.5
20 New York              84084          4120.75      565000           100.0
21 Orlando               53959          2246.50      380000            32.4
22 Philadelphia          73291          2340.25      301250            55.1
23 Phoenix               61840          2182.25      449000            33.6
24 Pittsburgh            65792          1800.75      192500            57.2
25 Portland              69435          2333.00      515000            68.5
26 Sacramento            66940          2614.25      542000            40.4
27 San Antonio           55180          1463.00      297000            29.4
28 San Diego             74326          3400.25      860000            37.0
29 San Francisco        123736          3788.75     1065000            66.2
30 Seattle               92113          2946.00      665000            69.4
31 St. Louis             69698          1680.50      218000            43.5
32 Tampa                 60091          2207.50      365000            35.4
33 Virginia Beach        57873          1826.00      309750            34.5
34 Washington, DC        83010          2657.25      515000            72.6
   Unemployment Purchase_power_100_dollars Latitude Longitude
1  3.0          100.89                     33.7490   -84.3880
2  3.7           99.96                     30.2672   -97.7431
3  2.8           95.23                     39.2904   -76.6122
4  3.3           91.17                     42.3601   -71.0589
5  3.6          103.52                     35.2271   -80.8431
6  5.3           94.86                     41.8781   -87.6298
7  4.1          106.00                     39.1031   -84.5120
8  4.6          106.15                     41.4993   -81.6944
9  4.2           96.29                     32.7767   -96.7970
10 4.2           91.61                     39.7392  -104.9903
11 4.0          104.05                     42.3314   -83.0458
12 4.6          100.26                     29.7604   -95.3698
13 3.7          105.23                     39.7684   -86.1581
14 3.6          106.77                     39.0997   -94.5786
15 5.2          104.66                     36.1699  -115.1398
16 4.8           87.86                     34.0522  -118.2437
17 2.5           90.97                     25.7617   -80.1918
18 3.3           96.54                     44.9778   -93.2650
19 2.2          104.68                     36.1627   -86.7816
20 4.7           87.28                     40.7128   -74.0060
21 3.2          100.19                     28.5383   -81.3792
22 3.8          100.80                     39.9526   -75.1652
23 3.3          100.83                     33.4484  -112.0740
24 3.6          105.09                     40.4406   -79.9959
25 4.8           94.90                     45.5051  -122.6750
26 5.2           94.08                     38.5816  -121.4944
27 4.1          103.76                     29.4241   -98.4936
28 4.7           86.84                     32.7157  -117.1611
29 4.4           83.45                     37.7749  -122.4194
30 4.7           87.28                     47.6062  -122.3321
31 4.0          103.90                     38.6270   -90.1994
32 3.3          101.04                     27.9506   -82.4572
33 3.0          102.26                     36.8529   -75.9780
34 3.0           89.82                     38.9072   -77.0369

In [17]:
write.csv(df, file = "../final_data/metro_data.csv", row.names = FALSE)

----

## Cleaning up the column names

In [8]:
df <- read.csv("../final_data/final_data.csv")

head(df)

  REGION    personal.income Median.Rent median.sale.price Walkable Unemployment
1 Atlanta   64107           2113.0      357000            49.4     3.0
2 Austin    75119           1937.5      451250            50.0     3.7
3 Baltimore 71420           1981.5      325500            44.7     2.8
4 Boston    94082           3939.5      600000            74.3     3.3
5 Charlotte 65156           1923.5      365000            51.7     3.6
6 Chicago   72512           2357.5      290000            65.9     5.3
  Purchase_power_100_dollars Latitude Longitude Political_Affiliation
1 100.89                     33.7490  -84.3880  D
2  99.96                     30.2672  -97.7431  D
3  95.23                     39.2904  -76.6122  D
4  91.17                     42.3601  -71.0589  D
5 103.52                     35.2271  -80.8431  D
6  94.86                     41.8781  -87.6298  D
  Year_Fahrenheit Violent_Crime_Rate_per_100k Non_Violent_Crime_Rate_per_100k
1 62.6            5727.52                     4776.43
2 69.3            3612.23                     3189.57
3 55.6            6997.68                     4928.11
4 51.7            2758.22                     2089.02
5 60.9            3836.39                     3815.18
6 49.7            4381.65                     3263.80

In [9]:
df$Political_Affiliation <- gsub("D", "Democrat", df$Political_Affiliation)
df$Political_Affiliation <- gsub("R", "Republican", df$Political_Affiliation)
df$Political_Affiliation <- gsub("I", "Independent", df$Political_Affiliation)

head(df)

  REGION    personal.income Median.Rent median.sale.price Walkable Unemployment
1 Atlanta   64107           2113.0      357000            49.4     3.0
2 Austin    75119           1937.5      451250            50.0     3.7
3 Baltimore 71420           1981.5      325500            44.7     2.8
4 Boston    94082           3939.5      600000            74.3     3.3
5 Charlotte 65156           1923.5      365000            51.7     3.6
6 Chicago   72512           2357.5      290000            65.9     5.3
  Purchase_power_100_dollars Latitude Longitude Political_Affiliation
1 100.89                     33.7490  -84.3880  Democrat
2  99.96                     30.2672  -97.7431  Democrat
3  95.23                     39.2904  -76.6122  Democrat
4  91.17                     42.3601  -71.0589  Democrat
5 103.52                     35.2271  -80.8431  Democrat
6  94.86                     41.8781  -87.6298  Democrat
  Year_Fahrenheit Violent_Crime_Rate_per_100k Non_Violent_Crime_Rate_per_100k
1 62.6            5727.52                     4776.43
2 69.3            3612.23                     3189.57
3 55.6            6997.68                     4928.11
4 51.7            2758.22                     2089.02
5 60.9            3836.39                     3815.18
6 49.7            4381.65                     3263.80

In [10]:
colnames(df)

colnames(df) <- c("Region", "Personal Income", "Median Rent", "Median Sale Price", "Walkability", "Unemployment", "Purchasing Power", "Latitude", "Longitude", "Political Affiliation", "Average Yearly Temperature(F)", "Violent Crime Rate", "Non-Violent Crime Rate")

df

 [1] "REGION"                          "personal.income"
 [3] "Median.Rent"                     "median.sale.price"
 [5] "Walkable"                        "Unemployment"
 [7] "Purchase_power_100_dollars"      "Latitude"
 [9] "Longitude"                       "Political_Affiliation"
[11] "Year_Fahrenheit"                 "Violent_Crime_Rate_per_100k"
[13] "Non_Violent_Crime_Rate_per_100k"

   Region               Personal Income Median Rent Median Sale Price
1  Atlanta               64107          2113.00      357000
2  Austin                75119          1937.50      451250
3  Baltimore             71420          1981.50      325500
4  Boston                94082          3939.50      600000
5  Charlotte             65156          1923.50      365000
6  Chicago               72512          2357.50      290000
7  Cincinnati            65253          1646.00      247000
8  Cleveland             62921          1471.25      179000
9  Dallas-Fort Worth     70493          2180.00      380000
10 Denver                84788          2677.00      556000
11 Detroit               61322          1619.75      230000
12 Houston               68344          1578.00      325000
13 Indianapolis          68719          1563.50      250000
14 Kansas City           63417          1686.25      279000
15 Las Vegas             59150          1666.00      415000
16 Los Angeles           76445          3587.25      920000
17 Miami                 77732          3056.50      465000
18 Minneapolis-St. Paul  75164          1896.50      335000
19 Nashville             74035          1903.50      419900
20 New York              84084          4120.75      565000
21 Orlando               53959          2246.50      380000
22 Philadelphia          73291          2340.25      301250
23 Phoenix               61840          2182.25      449000
24 Pittsburgh            65792          1800.75      192500
25 Portland              69435          2333.00      515000
26 Sacramento            66940          2614.25      542000
27 San Antonio           55180          1463.00      297000
28 San Diego             74326          3400.25      860000
29 San Francisco        123736          3788.75     1065000
30 Seattle               92113          2946.00      665000
31 St. Louis             69698          1680.50      218000
32 Tampa                 60091          2207.50      365000
33 Virginia Beach        57873          1826.00      309750
34 Washington, DC        83010          2657.25      515000
   Walkability Unemployment Purchasing Power Latitude Longitude
1   49.4       3.0          100.89           33.7490   -84.3880
2   50.0       3.7           99.96           30.2672   -97.7431
3   44.7       2.8           95.23           39.2904   -76.6122
4   74.3       3.3           91.17           42.3601   -71.0589
5   51.7       3.6          103.52           35.2271   -80.8431
6   65.9       5.3           94.86           41.8781   -87.6298
7   40.0       4.1          106.00           39.1031   -84.5120
8   47.0       4.6          106.15           41.4993   -81.6944
9   38.9       4.2           96.29           32.7767   -96.7970
10  48.7       4.2           91.61           39.7392  -104.9903
11  39.2       4.0          104.05           42.3314   -83.0458
12  46.6       4.6          100.26           29.7604   -95.3698
13  36.4       3.7          105.23           39.7684   -86.1581
14  44.1       3.6          106.77           39.0997   -94.5786
15  27.5       5.2          104.66           36.1699  -115.1398
16  59.0       4.8           87.86           34.0522  -118.2437
17  54.2       2.5           90.97           25.7617   -80.1918
18  54.4       3.3           96.54           44.9778   -93.2650
19  43.5       2.2          104.68           36.1627   -86.7816
20 100.0       4.7           87.28           40.7128   -74.0060
21  32.4       3.2          100.19           28.5383   -81.3792
22  55.1       3.8          100.80           39.9526   -75.1652
23  33.6       3.3          100.83           33.4484  -112.0740
24  57.2       3.6          105.09           40.4406   -79.9959
25  68.5       4.8           94.90           45.5051  -122.6750
26  40.4       5.2           94.08           38.5816  -121.4944
27  29.4       4.1          103.76           29.4241   -98.4936
28  37.0       4.7           86.84           32.7157  -117.1611
29  66.2       4.4           83.45           37.7749  -122.4194
30  69.4       4.7           87.28           47.6062  -122.3321
31  43.5       4.0          103.90           38.6270   -90.1994
32  35.4       3.3          101.04           27.9506   -82.4572
33  34.5       3.0          102.26           36.8529   -75.9780
34  72.6       3.0           89.82           38.9072   -77.0369
   Political Affiliation Average Yearly Temperature(F) Violent Crime Rate
1  Democrat              62.6                          5727.52
2  Democrat              69.3                          3612.23
3  Democrat              55.6                          6997.68
4  Democrat              51.7                          2758.22
5  Democrat              60.9                          3836.39
6  Democrat              49.7                          4381.65
7  Democrat              56.5                          5997.00
8  Democrat              51.5                          6538.45
9  Republican            66.2                          3985.95
10 Democrat              50.7                          4360.93
11 Democrat              50.0                          6726.82
12 Democrat              69.4                          5252.08
13 Democrat              53.2                          5775.23
14 Democrat              54.5                          6309.55
15 Nonpartisan           68.5                          3567.87
16 Democrat              65.4                          3332.52
17 Republican            76.9                          4750.89
18 Democrat              46.1                          5768.18
19 Democrat              59.8                          4966.50
20 Democrat              55.3                          1987.49
21 Democrat              73.5                          6206.38
22 Democrat              55.8                          4037.27
23 Democrat              75.0                          4443.20
24 Democrat              51.4                          3815.23
25 Democrat              54.4                          6239.99
26 Democrat              61.3                          3654.02
27 Independent           69.5                          5565.95
28 Democrat              64.1                          2220.67
29 Democrat              59.5                          6917.40
30 Democrat              52.4                          5911.99
31 Democrat              57.0                          8188.31
32 Democrat              73.2                          2218.24
33 Republican            65.0                          2083.40
34 Democrat              58.2                          5104.96
   Non-Violent Crime Rate
1  4776.43
2  3189.57
3  4928.11
4  2089.02
5  3815.18
6  3263.80
7  5049.88
8  4916.04
9  3185.09
10 3667.06
11 4540.60
12 4128.41
13 4411.87
14 4543.79
15 2943.38
16 2535.92
17 4014.18
18 4641.37
19 3817.96
20 1448.59
21 5454.57
22 3063.48
23 3670.71
24 3114.42
25 5677.02
26 2936.62
27 4844.84
28 1842.97
29 6168.02
30 5258.64
31 6041.24
32 1743.68
33 1934.62
34 4156.22

In [11]:
write.csv(df, file = "../final_data/final_data.csv", row.names = FALSE)